<div id = "capture-overlay" class = "capture-overlay hidden">
    <div id = "capture-flash" class = "capture-flash"></div>
    <div class = "pokeball-animation">
        <img id = "pokeball-img"
            src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"
            class = "pokeball-img">

        <img id = "capture-sprite"  class = "capture-pokemon hidden">

        <div class = "capture-text">
            <h2>NEW POKEMON!</h2>
            <p id = "capture-name"></p>
        </div>
    </div>
</div>